#header {
  font-family: Georgia, serif;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

#content {
  font-family: Georgia, serif;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

#greeting-container {
  margin-top: 20px;
}
